.rowHeader {
	margin:0px;
	.header {
		.logo {
			width: 150px;
			margin-left: 46%;
			cursor: pointer;
		}
		.fa-question-circle {
			font-size: 30px;
			color: $gray;
			float:right;
			margin-top: 10px;
			cursor: pointer;
		}
	}
}

.modal-content {
	color: $gray;
	background-color: $offWhite;
	.modal-header {
		font-family: $decoFont;
		color: $blue;
		h2 {
			text-align: center;
		}
	}	
	.modal-body {
		font-family: $mainFont;
		.login {
			h3 {
				text-align: center;
				margin-top: 0px;
			}
		}
		.register {
			h3 {
				text-align: center;
				margin-top: 0px;				
			}
		}	
	}	
}

.popover-content {
	color: $gray;
	background-color: $offWhite;
	.tinyX {
		width: 15px;
		margin-bottom: 2px;
	}
	.tinyCricket {
		width: 30px;
		margin-bottom: 5px;
	}
	.secondP {
		margin-bottom: -10px;
	}
}