.rowHeader {
	margin:0px;
	.header {
		.logo {
			width: 150px;
			margin-left: 46%;
			cursor: pointer;
		}
		.fa-question-circle {
			font-size: 30px;
			color: $gray;
			float:right;
			margin-top: 10px;
			cursor: pointer;
		}
	}
}
