.popover-content {
	color: $gray;
	background-color: $offWhite;
	.tinyX {
		width: 15px;
		margin-bottom: 2px;
	}
	.tinyCricket {
		width: 30px;
		margin-bottom: 5px;
	}
	.secondP {
		margin-bottom: -10px;
	}
}