$green: #5AB670;
$offWhite: #faf8f5;
$gray: #3b3d3d;
$blue: #337ab7;

$mainFont: 'Mukta Vaani', sans-serif;
$decoFont: 'Limelight', cursive;

@import "header";
@import "home";
@import "modal";
@import "popover";

body{
	background: $green;
	font-family: $mainFont;
	color: $blue;
}
.m-b-10 {
	margin-bottom: 10px;
}


.modal-content {
	color: $gray;
	background-color: $offWhite;
	.modal-header {
		font-family: $decoFont;
		color: $blue;
		h2 {
			text-align: center;
		}
	}	
	.modal-body {
		font-family: $mainFont;
		.login {
			h3 {
				text-align: center;
				margin-top: 0px;
			}
		}
		.register {
			h3 {
				text-align: center;
				margin-top: 0px;				
			}
		}
		.profile {
			img {
				width: 25%;
			}
			ul {
				text-decoration: none;
			}
		}	
	}	
}