<div class = "row rowMain">

	<div class = "col-xs-12">
		<form class = "scoreCard">
			
			<div class = "row rowScoreCardHeader">
				<div class = "col-xs-5 leftColumn">
					<div class = "player1">
   						 <input type="name" class="form-control" id="player1Name" placeholder="Player 1" ng-model="controller.form.p1_name">
					</div>
				</div>
				<div class = "col-xs-2 centerColumn">
				</div>	
				<div class = "col-xs-5 rightColumn">
					<div class = "player2">
   						 <input type="name" class="form-control" id="player2Name" placeholder="Player 2" ng-model="controller.form.p2_name">
					</div>				
				</div>
			</div>	
		
			<div class = "scores">
				<div class = "row row20">
					<div class = "col-xs-5 p1ScoreInput20">
						<img class = "scoreImage" ng-click= "controller.scoreCounter0120()" ng-src = "../images/score{{controller.scores.p1_20}}.svg">
					</div>
					<div class = "col-xs-2 centerScore">
						<p>20</p>
					</div>
					<div class = "col-xs-5 p2ScoreInput20">
						<img class = "scoreImage" ng-click= "controller.scoreCounter0220()" ng-src = "../images/score{{controller.scores.p2_20}}.svg">
					</div>
				</div>
			
				<div class = "row row19">
					<div class = "col-xs-5 p1ScoreInput19">
						<img class = "scoreImage" ng-click= "controller.scoreCounter0119()" ng-src = "../images/score{{controller.scores.p1_19}}.svg">
					</div>
					<div class = "col-xs-2 centerScore">
						<p>19</p>
					</div>
					<div class = "col-xs-5 p2ScoreInput19">
						<img class = "scoreImage" ng-click= "controller.scoreCounter0219()" ng-src = "../images/score{{controller.scores.p2_19}}.svg">
					</div>
				</div>

				<div class = "row row18">
					<div class = "col-xs-5 p1ScoreInput18">
						<img class = "scoreImage" ng-click= "controller.scoreCounter0118()" ng-src = "../images/score{{controller.scores.p1_18}}.svg">
					</div>
					<div class = "col-xs-2 centerScore">
						<p>18</p>
					</div>
					<div class = "col-xs-5 p2ScoreInput18">
						<img class = "scoreImage" ng-click= "controller.scoreCounter0218()" ng-src = "../images/score{{controller.scores.p2_18}}.svg">
					</div>
				</div>

				<div class = "row row17">
					<div class = "col-xs-5 p1ScoreInput17">
						<img class = "scoreImage" ng-click= "controller.scoreCounter0117()" ng-src = "../images/score{{controller.scores.p1_17}}.svg">
					</div>
					<div class = "col-xs-2 centerScore">
						<p>17</p>
					</div>
					<div class = "col-xs-5 p2ScoreInput17">
						<img class = "scoreImage" ng-click= "controller.scoreCounter0217()" ng-src = "../images/score{{controller.scores.p2_17}}.svg">
					</div>
				</div>

				<div class = "row row16">
					<div class = "col-xs-5 p1ScoreInput16">
						<img class = "scoreImage" ng-click= "controller.scoreCounter0116()" ng-src = "../images/score{{controller.scores.p1_16}}.svg">
					</div>
					<div class = "col-xs-2 centerScore">
						<p>16</p>
					</div>
					<div class = "col-xs-5 p2ScoreInput16">
						<img class = "scoreImage" ng-click= "controller.scoreCounter0216()" ng-src = "../images/score{{controller.scores.p2_16}}.svg">
					</div>
				</div>

				<div class = "row row15">
					<div class = "col-xs-5 p1ScoreInput15">
						<img class = "scoreImage" ng-click= "controller.scoreCounter0115()" ng-src = "../images/score{{controller.scores.p1_15}}.svg">
					</div>
					<div class = "col-xs-2 centerScore">
						<p>15</p>
					</div>
					<div class = "col-xs-5 p2ScoreInput15">
						<img class = "scoreImage" ng-click= "controller.scoreCounter0215()" ng-src = "../images/score{{controller.scores.p2_15}}.svg">
					</div>
				</div>

				<div class = "row rowBull">
					<div class = "col-xs-5 p1ScoreInputBull">
						<img class = "scoreImage" ng-click= "controller.scoreCounter01Bull()" ng-src = "../images/score{{controller.scores.p1_bull}}.svg">
					</div>
					<div class = "col-xs-2 centerScore">
						<img class = "bullImage" src = "../images/bull.svg">
					</div>
					<div class = "col-xs-5 p2ScoreInputBull">
						<img ng-click= "controller.scoreCounter02Bull()" class = "scoreImage" ng-src = "../images/score{{controller.scores.p2_bull}}.svg">
					</div>
				</div>

			<div class = "row rowFooter">
				<div class = "col-xs-12">
					<button type="submit" class="btn btn-primary" ng-click="controller.postGame()">Save</button>
				</div>	
			</div>	
		</form>
	</div>
	

</div>	