<div class = "col-xs-6 login"> 
    <h3>Login</h3>
    <form ng-submit="controller.submit()">
        <fieldset class="form-group">
            
            <label for="loginEmail">Email address</label>
            <input type="email" class="form-control m-b-10" id="loginEmail" ng-model="controller.form.email" placeholder="Enter email">
            
            <label for="loginPassword">Password</label>
            <input type="password" class="form-control m-b-10" id="loginPassword" ng-model="controller.form.password" placeholder="Password">
            
            
            <button type="submit" class="btn btn-primary">Submit</button>
        </fieldset>
        
        <div ng-show="controller.showAlert" class="alert alert-warning alert-dismissible" role="alert">
            <p>Your email address or password is incorrect.</p>
        </div> 
    </form>
</div>