<div class = "col-xs-12 profile" ng-show="controller.showProfile()">
	<img src = "../images/cricket.svg">

	<h3>Hi, {{controller.firstName}}!</h3>
	<p>What would you like to do?</p>
		<ul>
			<li class="btn btn-primary" ng-click="controller.postGame()">Save current game</li>
			<li class="btn btn-primary" ng-click="controller.logout()">Log out</li>
			<li>Load past game</li>
				<ul>
				<!-- 	<li ng-repeat = "MARTHA!! something like games in controller.games"></li> -->
				</ul>
		</ul>	
</div>

